@page
@model cw6_forms.Pages.IndexModel
@{
}
<h1>Witamy na stronie głównej!</h1>
<p>To jest przykładowa strona główna aplikacji ASP.NET Core Razor</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus cupiditate aspernatur harum? Porro est explicabo
    laborum fugiat nulla, vel a esse perferendis? Magnam laudantium aut esse placeat quasi expedita dicta?</p>