@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Lista ryb w jeziorze</h1>
<ul>
    <li>Leszcz</li>
    <li>Szczupak</li>
    <li>Węgorz</li>
    <li>Płoć</li>
    <li>Karaś</li>
</ul>