@model Car

<h1>Dodawanie nowego samochodu</h1>
<form asp-action="AddCar" method="post">
    <div class="row m-2">
        <label class="col-3" asp-for="Brand"></label>
        < input asp-for="Brand" class="col-6" />
        <span asp-validation-for="Brand" class="col-3 text-danger"></span>
    </div>
</form>