@model List<Car>
@{
    int i =0;
    i++;
}
<h1>
    My Cars - Get All
</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th> ---- </th>
        </tr>
    </thead>
    <tbody>
    @foreach(var c in Model)
    {
        <tr>
            <td>@c.Brand</td>
            <td>@c.Model</td>
            <td>@c.Year</td>
            <td>
            <a asp-action="DeleteCar" class="btn btn-danger">Usuń</a>
            </td>
        </tr>
    }
    </tbody>
</table>