<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/styl5.css" />
    <title>Wędkowanie - moje hobby</title>
</head>
<body>
    <div id="lewy">
	<img src="zawody.jpg" alt="zawody wędkarskie" />
</div>
<div id="srodkowy">
	<h1>Zawody Wędkarskie</h1>
</div>
<div id="prawy">
	<a href="kwerendy.txt">Pobierz plik</a>
</div>
    @RenderBody()
    <footer id="stopka">
	<p>Stronę przygotował: Chriskyy#0181</p>
</footer>
</body>
</html>