node_modules
dist
.env
.DS_Store
.vscode
coverage
.idea
npm-debug.log
yarn-error.log
pnpm-debug.log
*.log
.cache
*.tsbuildinfo
/build
/.turbo
/.next
/out
/.vercel
/.netlify   
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local