@model Movie
<h2>Edytuj Film</h2>
<form asp-action="UpdateMovie" method="post">
    <div class="row mb-3">
        <input type="hidden" asp-for="Id" />
        <label asp-for="Title" class="col-3 text-end"></label>
        <input asp-for="Title" class="col-6" />
        <span asp-validation-for="Title" class="text-danger col-3"></span>
    </div>
    <div class="row mb-3">
        <label asp-for="Director" class="col-3 text-end"></label>
        <input asp-for="Director" class="col-6" />
        <span asp-validation-for="Director" class="text-danger col-3"></span>
    </div>
        <div class="row mb-3">
        <label asp-for="Year" class="col-3 text-end"></label>
        <input type="number" asp-for="Year" class="col-6" />
        <span asp-validation-for="Year" class="text-danger col-3"></span>
    </div>
    <div class="row mb-3">
        <div class="col-9 offset-3">
            <button type="submit" class="btn btn-primary">Zapisz Film</button>
        </div>
    </div>
</form>