@page
@model cw5_web.Pages.IndexModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="~/index.css">
</head>

<body>
    <header>
        <nav>
         <a href="/Index">Główna strona</a>
         <a href="/Second">Kolorowa strona</a>
        </nav>
    </header>
    <main>
        <h1>To nie jest strona statyczna</h1>
        @{
            string text = "Ala ma kota na punkcie ReazorPages";
        }
        <p>To jest wartość zmiennej text = @text</p>
        <p>@Model.ActualDate</p>
    </main>

    <footer>&copy; 2025</footer>
    <script src="~/index.js" defer></script>
</body>

</html>