@page
@model cw5_web.Pages.SecondModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona kolorowa</title>
</head>

<body>
    <header>
        <h1>Strona kol rowa</h1>
        <nav>
            <a asp-page="Index">Główna strona</a>
            <a asp-page="Second">Kolorowa strona</a>
        </nav>
    </header>

    <main>
        <select>
            @foreach (var color in Model.Colors)
            {
                <option value="@color">@color</option>
            }
        </select>
    </main>
    <script src="~/index.js"></script>
</body>

</html>