.nav-link{
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}
.nav-link:hover{
  color: gray;
  text-decoration: underline;
}
a.active {
  font-weight: bold;
  color: grey;
}

.myNav-link{
    font-size: 2em;
    text-decoration: none;
    color: black;
}
.myNav-link:hover{
    text-decoration: underline;
}  