@page
@model cw5_RazorPages.Pages.IndexModel
@{
    int count = 0;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Strona Index - RazorPage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quam quaerat nemo officia quos, iusto aliquid incidunt consequuntur dicta ad impedit. Alias suscipit laudantium illo odio voluptatem? Quis, repudiandae rerum.</p>
    <div>
        @DateTime.Now.ToShortDateString()
    </div>
</body>
</html>
