<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Ważenie samochodów ciężarowych</title>
    <link rel="stylesheet" href="styl.css">
    @* <meta http-equiv="refresh" content="10" /> *@
</head>

<body>
    <header>
        <section id="banner1">
            <h1>Ważenie pojazdów we Wrocławiu</h1>
        </section>
        <section id="banner2">
            <img src="obraz1.png" alt="waga">
        </section>
    </header>
    
    @RenderBody()
    
    <footer>
        <p>Stronę wykonał: XXXX</p>
    </footer>
</body>

</html>