@model Book

<h1>Dodaj nową książkę</h1>
<form asp-action="AddBook" method="post">
    <div class="row m-2">
        <label class="col-3 text-end" asp-for="Title"></label>
        <input class="col-6" asp-for="Title" />
        <span class="col-3 text-danger" asp-validation-for="Title"></span>
    </div>
    <div class="row m-2">
        <label class="col-3 text-end" asp-for="Author"></label>
        <input class="col-6" asp-for="Author" />
        <span class="col-3 text-danger" asp-validation-for="Author"></span>
    </div>
    <div class="row m-2">
        <label class="col-3 text-end" asp-for="Price"></label>
        <input type="number" step="0.01" class="col-6" asp-for="Price" />
        <span class="col-3 text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="row m-2">
        <label class="col-3 text-end" asp-for="RealizeDate"></label>
        <input class="col-6" asp-for="RealizeDate" type="date" />
        <span class="col-3 text-danger" asp-validation-for="RealizeDate"></span>
    </div>
    <div class="row m-2">
        <div class="col-3"></div>
        <div class="col-6">
            <button type="submit" class="btn btn-primary w-100">Dodaj książkę</button>
        </div>
    </div>

</form>