<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>Biblioteka Filmów</title>
</head>
<body>
    <header>
        <nav class="d-flex gap-3 bg-light p-3 mb-4">
            <a asp-controller="MoviesLib" asp-action="List">Strona Główna</a> |
            <a asp-controller="MoviesLib" asp-action="AddMovie">Dodaj Film</a>
        </nav>
    </header>
    <main class="container">
        @RenderBody()
    </main>
    <footer>
        <p>&copy; 2025 Biblioteka Filmów</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>